Source: ubiquity-slideshow-wasta
Section: x11
Priority: optional
Maintainer: Wasta-Linux Team <wasta.linux.team@gmail.com>
Build-Depends: debhelper-compat (= 12)
Build-Depends-Indep: po4a, python2
Standards-Version: 4.5.0
Homepage: https://github.com/wasta-linux/ubiquity-slideshow-wasta

Package: ubiquity-slideshow-wasta
Architecture: all
Provides: ubiquity-slideshow
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Depends: ${misc:Depends}
Description: Ubiquity slideshow for Wasta-Linux
 A slideshow intended for the Ubiquity installer, designed as a quick 
 introduction to Wasta-Linux.
